.home {
    text-align: center;
}

.home-header {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/pexels-alex-green-5693382.jpg");
    background-size: cover;
    filter: contrast(0.5) brightness(1.5);
    z-index: -1;
}

@media only screen and (min-width: 750px) {
    .home-content {
        display: flex;
        flex-direction: column;
        padding-top: 20vh;
        align-items: center;
        font-size: calc(10px + 2vmin);
        color: #2e6eb1;
        min-height: 100vh;
        .sign-up-button {
            line-height: 1.75em;
            text-align: end;
            position: absolute;
            bottom: 3rem;
            right: 0.5rem;
        }
        .call-text {
            line-height: 1.75em;
            mix-blend-mode:multiply;
            text-align: end;
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            filter: drop-shadow(0.05em 0.05em #ffffff);
        }
    }
}

@media only screen and (max-width: 750px) {
    .home-content {
        padding-top: 8em;
        padding-bottom: 2em;
        text-align: center;
        overflow: hidden;
        .sign-up-button {
            z-index: -1;
            width: 100vw;
            position: absolute;
            bottom: 2em;
        }
        .call-text {
            z-index: -1;
            width: 100vw;
            position: absolute;
            bottom: 0.5em;
            mix-blend-mode: hard-light;
        }
    }
}
