#sign-out {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#sign-in {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#user-pic {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    border-radius: 50%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

#user-name {
    position: absolute;
    top: 1.5rem;
    left: 5rem;
}