#sign-out {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#sign-in {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.icon-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.dialog-content {
    text-align: center;
}

.button-icon {
    height: 0.9em;
    margin-top: -0.2em;
}