.account-button {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.account-button-pic-container {
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.75em;
    border-style: solid;
    border-width: 1px;
    margin-top: -0.45em;
    margin-left: -0.1em;
}

.account-button-pic {
    height: 1.5em;
    width: 1.5em;
}

.account-button-text {
    margin-left: 1em;
}
