.account-button {
    padding: 0;
    margin-left: 0.1em;
    margin-right: 0.3em;
}

.account-button-pic-container {
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.75em;
    border-style: solid;
    border-width: 1px;

}

.account-button-pic {
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.75em;
}

.account-button-text {
}