.icon-button-container {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border-color: #5aa9e6;
    border-style: solid;
    border-width: 3px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
    cursor: pointer;
    margin: 0.5em;
    margin-bottom: -1.5em;
}

.icon-button-container:hover {
    background-color: hsla(0, 0%, 100%, 0.4);
}

.icon-button-icon {
    margin-bottom: -0.15em;
    margin-left: 0.35em;
    border-width: 3px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
}
