$scale-amount: scale(1.1);

@media only screen and (min-width: 750px) {
    @mixin flex-children {
        padding: 0.2em;
        // border-color: ivory;
        // border-width: 1px;
        // border-style: solid;
    }
    .nav-mobile {
        display: none;
    }

    .nav-bar {
        padding: 0;
        position: absolute;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.247);
    }

    .nav-content {
        height: 3rem;
        width: 100vw;
        background-image: linear-gradient(#377FC0, #379FC0);

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .ca-home {
        @include flex-children();
        display: flex;
        flex-grow: 0;
        cursor: pointer;
        padding-left: 1em;
        .leaf-logo {
            height: 2.5rem;
            width: 2.5rem;
            padding-right: 0.2em;
            filter: invert(1);
        }
        h1 {
            font-size: large;
            font-weight: inherit;
            margin: inherit;
            padding: inherit;
        }
        .ca-text {
            font-size: small;
        }
        &:hover {
            transform: $scale-amount;
        }
    }
    .nav-spacer {
        flex-grow: 1;
    }
    .nav-items {
        @include flex-children();
        flex-grow: 0;
    }
    .nav-button:hover {
        transform: $scale-amount;
    }
    .aa-link {
        @include flex-children();
        flex-grow: 0;
        cursor: pointer;
        img {
            height: 2.2em;
            &:hover {
                transform: $scale-amount;
            }
        }
        margin-right: 0.5em
    }
    .account-button {
        @include flex-children();
        flex-grow: 0;
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media only screen and (max-width: 750px) {
    @mixin flex-children {
        width: 100vw;
        // border-color: ivory;
        // border-width: 1px;
        // border-style: solid;
    }
    .nav-bar {
        color: white;
        background-image: linear-gradient(#377FC0, #379FC0);
        position: absolute;
        z-index: 1298;
    }
    .nav-mobile {
        width: 100vw;
        display: flex;
        flex-grow: 0;
        justify-content: center;
        z-index: 1298;
        height: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-image: linear-gradient(#377FC0, #379FC0);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.247);
        position: absolute;
        .leaf-logo {
            height: 2.5rem;
            width: 2.5rem;
            padding-right: 0.2em;
            filter: invert(1);
            z-index: 1298;
        }
        h1 {
            font-size: large;
            font-weight: inherit;
            margin: inherit;
            padding: inherit;
            z-index: 1298;
        }
        .ca-text {
            font-size: small;
            z-index: 1298;
        }
        .hamburger {
            position: absolute;
            left: 0.5em;
            top: 0.5em;
            z-index: 1299;
            transition: ease-in;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .nav-content {
        width: 100vw;
        margin-top: 3em;
        background-image: linear-gradient(#377FC0, #379FC0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        position: absolute;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.247);
    }
    .hidden {
        transition: 0.5s;
        transform:translateY(-100vh);
    }
    .not-hidden {
        transition: 0.5s;
        transform:translateY(0px);
    }
    .ca-home {
        display: none;
    }
    .nav-spacer {
        @include flex-children();
        display: none;
    }
    .nav-items {
        @include flex-children();
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .nav-button {
        width: 100%;
        text-align: center;
    }
    .nav-button:hover {
        transform: $scale-amount;
    }
    .aa-link {
        @include flex-children();
        text-align: center;
        cursor: pointer;
        img {
            height: 2.2em;
            &:hover {
                transform: $scale-amount;
            }
        }
    }
    .account-button {
        text-align: center;
        @include flex-children();
    }
}
