.RotatingLogo {
  .rotating-logo {
    flex-direction: column;
  }
  .rl-top {
    flex: 1;
    margin-bottom: -0.25rem;
  }
  .rl-bot {
    flex: 1;
  }

  .leaf {
    margin: 0.1rem;
    height: 8rem;
    width: 8rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    &:hover {
      filter: brightness(50%);
    }
  }

  .info-card {
    width: 600px;
    max-width: 95vw;
    margin: auto;
    padding-bottom: 1rem;
  }

  .down-arrow {
    margin-top: -0.5em;
    margin-bottom: -0.55em;
    font-size: 2em;
    color: #4195D0;
  }
}
